.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    line-height: 1.2
    }
.calibre6 {
    height: 158px;
    line-height: 1.2;
    width: 211px
    }
.calibre7 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre8 {
    height: 200px;
    line-height: 1.2;
    width: 148px
    }
.calibre9 {
    height: 148px;
    line-height: 1.2;
    width: 255px
    }
.calibre10 {
    height: 201px;
    line-height: 1.2;
    width: 133px
    }
.calibre11 {
    height: 203px;
    line-height: 1.2;
    width: 133px
    }
.calibre12 {
    font-size: 0.9em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    height: 147px;
    line-height: 1.2;
    width: 175px
    }
.calibre14 {
    height: 219px;
    line-height: 1.2;
    width: 150px
    }
.calibre15 {
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre16 {
    height: 232px;
    line-height: 1.2;
    width: 141px
    }
.calibre17 {
    height: 171px;
    line-height: 1.2;
    width: 227px
    }
.calibre18 {
    height: 211px;
    line-height: 1.2;
    width: 163px
    }
.calibre19 {
    height: 144px;
    line-height: 1.2;
    width: 195px
    }
.calibre20 {
    height: 161px;
    line-height: 1.2;
    width: 155px
    }
.calibre21 {
    height: 220px;
    line-height: 1.2;
    width: 132px
    }
.calibre22 {
    height: 158px;
    line-height: 1.2;
    width: 179px
    }
.calibre23 {
    height: 24px;
    line-height: 1.2;
    width: 5px
    }
.calibre24 {
    height: 813px;
    line-height: 1.2;
    width: 655px
    }
.calibre25 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre26 {
    height: 241px;
    line-height: 1.2;
    width: 302px
    }
.calibre27 {
    height: 197px;
    line-height: 1.2;
    width: 320px
    }
.calibre28 {
    height: 171px;
    line-height: 1.2;
    width: 192px
    }
.calibre29 {
    height: 178px;
    line-height: 1.2;
    width: 209px
    }
.calibre30 {
    height: 228px;
    line-height: 1.2;
    width: 136px
    }
.calibre31 {
    height: 231px;
    line-height: 1.2;
    width: 140px
    }
.calibre32 {
    height: 177px;
    line-height: 1.2;
    width: 202px
    }
.calibre33 {
    height: 174px;
    line-height: 1.2;
    width: 174px
    }
.calibre34 {
    height: 178px;
    line-height: 1.2;
    width: 243px
    }
.calibre35 {
    height: 174px;
    line-height: 1.2;
    width: 207px
    }
.calibre36 {
    height: 412px;
    line-height: 1.2;
    width: 214px
    }
.calibre37 {
    height: 413px;
    line-height: 1.2;
    width: 248px
    }
.calibre38 {
    height: 205px;
    line-height: 1.2;
    width: 169px
    }
.calibre39 {
    height: 150px;
    line-height: 1.2;
    width: 185px
    }
.calibre40 {
    height: 149px;
    line-height: 1.2;
    width: 198px
    }
.calibre41 {
    height: 221px;
    line-height: 1.2;
    width: 167px
    }
.calibre42 {
    height: 186px;
    line-height: 1.2;
    width: 269px
    }
.calibre43 {
    height: 197px;
    line-height: 1.2;
    width: 153px
    }
.calibre44 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre45 {
    font-size: 1.55em;
    line-height: 1.2
    }
.calibre46 {
    height: 168px;
    line-height: 1.2;
    width: 217px
    }
.calibre47 {
    height: 141px;
    line-height: 1.2;
    width: 178px
    }
.calibre48 {
    height: 169px;
    line-height: 1.2;
    width: 214px
    }
.calibre49 {
    height: 200px;
    line-height: 1.2;
    width: 144px
    }
.calibre50 {
    height: 166px;
    line-height: 1.2;
    width: 87px
    }
.calibre51 {
    height: 152px;
    line-height: 1.2;
    width: 204px
    }
.calibre52 {
    height: 177px;
    line-height: 1.2;
    width: 177px
    }
.calibre53 {
    height: 253px;
    line-height: 1.2;
    width: 166px
    }
.calibre54 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre55 {
    height: 153px;
    line-height: 1.2;
    width: 210px
    }
.calibre56 {
    height: 171px;
    line-height: 1.2;
    width: 248px
    }
.calibre57 {
    height: 166px;
    line-height: 1.2;
    width: 204px
    }
.calibre58 {
    height: 147px;
    line-height: 1.2;
    width: 216px
    }
.calibre59 {
    height: 204px;
    line-height: 1.2;
    width: 256px
    }
.calibre60 {
    font-size: 0.625em;
    line-height: 1.2
    }
.calibre61 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre62 {
    height: 205px;
    line-height: 1.2;
    width: 142px
    }
.calibre63 {
    height: 174px;
    line-height: 1.2;
    width: 189px
    }
.calibre64 {
    height: 201px;
    line-height: 1.2;
    width: 137px
    }
.calibre65 {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.calibre66 {
    height: 215px;
    line-height: 1.2;
    width: 140px
    }
.calibre67 {
    height: 200px;
    line-height: 1.2;
    width: 158px
    }
.calibre68 {
    height: 182px;
    line-height: 1.2;
    width: 145px
    }
.calibre69 {
    height: 201px;
    line-height: 1.2;
    width: 156px
    }
.calibre70 {
    height: 183px;
    line-height: 1.2;
    width: 180px
    }
.calibre71 {
    height: 182px;
    line-height: 1.2;
    width: 141px
    }
.calibre72 {
    height: 136px;
    line-height: 1.2;
    width: 243px
    }
.calibre73 {
    height: 191px;
    line-height: 1.2;
    width: 153px
    }
.calibre74 {
    height: 189px;
    line-height: 1.2;
    width: 151px
    }
.calibre75 {
    height: 183px;
    line-height: 1.2;
    width: 172px
    }
.calibre76 {
    height: 199px;
    line-height: 1.2;
    width: 160px
    }
.calibre77 {
    height: 173px;
    line-height: 1.2;
    width: 209px
    }
.calibre78 {
    height: 200px;
    line-height: 1.2;
    width: 174px
    }
.calibre79 {
    height: 190px;
    line-height: 1.2;
    width: 160px
    }
.calibre80 {
    height: 164px;
    line-height: 1.2;
    width: 166px
    }
.calibre81 {
    height: 196px;
    line-height: 1.2;
    width: 182px
    }
.calibre82 {
    height: 188px;
    line-height: 1.2;
    width: 239px
    }
.calibre83 {
    height: 180px;
    line-height: 1.2;
    width: 226px
    }
.calibre84 {
    height: 160px;
    line-height: 1.2;
    width: 206px
    }
.calibre85 {
    height: 197px;
    line-height: 1.2;
    width: 129px
    }
.calibre86 {
    height: 209px;
    line-height: 1.2;
    width: 135px
    }
.calibre87 {
    height: 160px;
    line-height: 1.2;
    width: 247px
    }
.calibre88 {
    height: 157px;
    line-height: 1.2;
    width: 137px
    }
.calibre89 {
    height: 166px;
    line-height: 1.2;
    width: 166px
    }
.calibre90 {
    height: 282px;
    line-height: 1.2;
    width: 197px
    }
.calibre91 {
    color: windowtext;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre92 {
    height: 84px;
    line-height: 1.2;
    width: 60px
    }
.calibre93 {
    height: 79px;
    line-height: 1.2;
    width: 56px
    }
.calibre94 {
    font-family: "Calibri", sans-serif;
    line-height: 1.2
    }
.calibre95 {
    height: 77px;
    line-height: 1.2;
    width: 56px
    }
.calibre96 {
    height: 78px;
    line-height: 1.2;
    width: 56px
    }
.calibre97 {
    height: 92px;
    line-height: 1.2;
    width: 66px
    }
.calibre98 {
    height: 92px;
    line-height: 1.2;
    width: 65px
    }
.calibre99 {
    height: 81px;
    line-height: 1.2;
    width: 58px
    }
.calibre100 {
    height: 87px;
    line-height: 1.2;
    width: 63px
    }
.calibre101 {
    height: 86px;
    line-height: 1.2;
    width: 63px
    }
.calibre102 {
    height: 89px;
    line-height: 1.2;
    width: 64px
    }
.calibre103 {
    height: 76px;
    line-height: 1.2;
    width: 55px
    }
.calibre104 {
    height: 83px;
    line-height: 1.2;
    width: 59px
    }
.calibre105 {
    height: 63px;
    line-height: 1.2;
    width: 45px
    }
.calibre106 {
    height: 70px;
    line-height: 1.2;
    width: 50px
    }
.calibre107 {
    height: 65px;
    line-height: 1.2;
    width: 47px
    }
.calibre108 {
    height: 73px;
    line-height: 1.2;
    width: 52px
    }
.calibre109 {
    height: 68px;
    line-height: 1.2;
    width: 49px
    }
.calibre110 {
    height: 74px;
    line-height: 1.2;
    width: 52px
    }
.calibre111 {
    height: 76px;
    line-height: 1.2;
    width: 54px
    }
.calibre112 {
    height: 73px;
    line-height: 1.2;
    width: 51px
    }
.calibre113 {
    height: 79px;
    line-height: 1.2;
    width: 57px
    }
.calibre114 {
    height: 79px;
    line-height: 1.2;
    width: 59px
    }
.calibre115 {
    height: 86px;
    line-height: 1.2;
    width: 61px
    }
.calibre116 {
    height: 88px;
    line-height: 1.2;
    width: 63px
    }
.calibre117 {
    height: 91px;
    line-height: 1.2;
    width: 66px
    }
.calibre118 {
    height: 80px;
    line-height: 1.2;
    width: 58px
    }
.calibre119 {
    height: 58px;
    line-height: 1.2;
    width: 42px
    }
.calibre120 {
    height: 60px;
    line-height: 1.2;
    width: 44px
    }
.calibre121 {
    height: 64px;
    line-height: 1.2;
    width: 46px
    }
.calibre122 {
    height: 66px;
    line-height: 1.2;
    width: 47px
    }
.calibre123 {
    height: 84px;
    line-height: 1.2;
    width: 61px
    }
.calibre124 {
    height: 83px;
    line-height: 1.2;
    width: 60px
    }
.calibre125 {
    height: 81px;
    line-height: 1.2;
    width: 59px
    }
.calibre126 {
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2
    }
.calibre127 {
    display: block;
    line-height: 1.2
    }
.msonormal {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0.0001pt
    }
.msonormal1 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    margin: 0 16pt 5.05pt 16.2pt
    }
.msonormal2 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    margin: 0 0 5.3pt -0.25pt
    }
.msonormal3 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 14.75pt 5.35pt 0.5pt
    }
.msonormal4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.0001pt 0.25in
    }
.msonormal5 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 150%;
    text-align: justify;
    text-indent: -0.5pt;
    margin: 0 63.05pt 0.0001pt -0.25pt
    }
.msonormal6 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal7 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 8pt 0.25in
    }
.msonormal8 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 5.65pt 45.2pt
    }
.msonormal9 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 -0.65pt 0.2pt 0.25in
    }
.msonormal10 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal11 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.0001pt 45.2pt
    }
.msonormal12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.0001pt 0.25in
    }
.msonormal13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 8pt
    }
.msonormal14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.6pt 0.25in
    }
.msonormal15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 7.5pt 0.25in
    }
.msonormal16 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 6.7pt 0.25in
    }
.msonormal17 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 7.45pt 0.25in
    }
.msonormal18 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 5.65pt 0
    }
.msonormal19 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0.0001pt 0.25in
    }
.msonormal20 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 -1.85pt 5.65pt 0.25in
    }
.msonormal21 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 4.55pt 0.25in
    }
.msonormal22 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 3.4pt 0.25in
    }
.msonormal23 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -124.7pt;
    margin: 0 0.75pt 5.65pt 147.4pt
    }
.msonormal24 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal25 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 7.05pt 5.65pt 0.25in
    }
.msonormal26 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 7.05pt 5.65pt 0.25in
    }
.msonormal27 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 0 0.0001pt 42.65pt
    }
.msonormal28 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: right;
    text-indent: -0.5pt;
    margin: 0 2.2pt 0.55pt 26.3pt
    }
.msonormal29 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 22.2pt 0.55pt 0.25in
    }
.msonormal30 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0.0001pt 27.4pt
    }
.msonormal31 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 5.05pt
    }
.msonormal32 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 0.65pt 5.85pt 18.5pt
    }
.msonormal33 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 14.75pt 7.1pt 0.5pt
    }
.msonormal34 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 1.6pt 0.25in
    }
.msonormal35 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 3.8pt 0.0001pt 0.25in
    }
.msonormal36 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 3.8pt 0.0001pt 0.25in
    }
.msonormal37 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.45pt 0.25in
    }
.msonormal38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.05in 0.25in
    }
.msonormal39 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 14.75pt 6.95pt 0.5pt
    }
.msonormal40 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 1.15pt 0.25in
    }
.msonormal41 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.35pt 0.25in
    }
.msonormal42 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 5.1pt
    }
.msonormal43 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.8pt 0.25in
    }
.msonormal44 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 7.3pt 0.25in
    }
.msonormal45 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 8.95pt 0.65pt 0.25in
    }
.msonormal46 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    margin: 0 0 0.5pt 18.5pt
    }
.msonormal47 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.5pt 0.25in
    }
.msonormal48 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 3.5pt 0.25in
    }
.msonormal49 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -81.35pt;
    margin: 0 0.75pt 5.65pt 99.35pt
    }
.msonormal50 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 7.7pt 0.25in
    }
.msonormal51 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 7.8pt
    }
.msonormal52 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 5.65pt 17.9pt
    }
.msonormal53 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 4.05pt 5.65pt 0.25in
    }
.msonormal54 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 3.25pt 0.25in
    }
.msonormal55 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 5.85pt 5.65pt 0.25in
    }
.msonormal56 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 5.85pt 0.0001pt 0.25in
    }
.msonormal57 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 7.15pt 0.25in
    }
.msonormal58 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.2pt 0.25in
    }
.msonormal59 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.25pt 0.25in
    }
.msonormal60 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18.1pt;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal61 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 5.65pt 0
    }
.msonormal62 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -133.55pt;
    margin: 0 0.75pt 5.65pt 151.55pt
    }
.msonormal63 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 5.65pt 0.5in
    }
.msonormal64 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.0001pt 0.5in
    }
.msonormal65 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.65pt 0.5in
    }
.msonormal66 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -113.5pt;
    margin: 0 0.75pt 5.65pt 131.5pt
    }
.msonormal67 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.1in 0.5in
    }
.msonormal68 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 0.45pt 45.2pt
    }
.msonormal69 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.45pt 0.25in
    }
.msonormal70 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 1.1pt 0.25in
    }
.msonormal71 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -123.7pt;
    margin: 0 0.75pt 5.65pt 141.7pt
    }
.msonormal72 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 7.35pt 0.5in
    }
.msonormal73 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 7.45pt 0.5in
    }
.msonormal74 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 6.85pt 0.5in
    }
.msonormal75 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -171.5pt;
    margin: 0 0.75pt 5.65pt 189.5pt
    }
.msonormal76 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.45pt 0.5in
    }
.msonormal77 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0.75pt 1.05pt 0.25in
    }
.msonormal78 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 6.75pt 0.5in
    }
.msonormal79 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -135.25pt;
    margin: 0 0.75pt 7.25pt 153.25pt
    }
.msonormal80 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 7.25pt 0.25in
    }
.msonormal81 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -137.05pt;
    margin: 0 0.75pt 5.65pt 155.05pt
    }
.msonormal82 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0.65pt 7.45pt 0.5in
    }
.msonormal83 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -178.6pt;
    margin: 0 0.75pt 5.65pt 196.6pt
    }
.msonormal84 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 3.9pt 5.65pt 0.25in
    }
.msonormal85 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 3.9pt 5.65pt 0.5in
    }
.msonormal86 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 3.9pt 1.1pt 0.5in
    }
.msonormal87 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 3.9pt 0.45pt 0.5in
    }
.msonormal88 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    margin: 0 14.75pt 5.35pt 27.5pt
    }
.msonormal89 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 14.75pt 5.35pt 0.25in
    }
.msonormal90 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -194.65pt;
    margin: 0 0.75pt 0.0001pt 212.65pt
    }
.msonormal91 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt 0.45pt 0
    }
.msonormal92 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0 0 4.9pt 0.25in
    }
.msonormal93 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 2.65pt 0.25in
    }
.msonormal94 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0.0001pt
    }
.msonormal95 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0.75pt 0.0001pt 0
    }
.msonormal96 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 8.8pt 11.35pt 0
    }
.msonormal97 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 -0.75pt 0.0001pt 0
    }
.msonormal98 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    margin: 0 0 5.65pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
