.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    line-height: 1.2;
    padding: 0;
    border: currentColor none 1pt
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    font-family: "Times New Roman";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre6 {
    height: 293px;
    line-height: 1.2;
    width: 210px
    }
.calibre7 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre8 {
    font-family: "Calibri", sans-serif;
    line-height: 1.2
    }
.calibre9 {
    height: 275px;
    line-height: 1.2;
    width: 632px
    }
.calibre10 {
    color: red;
    line-height: 1.2
    }
.calibre11 {
    height: 201px;
    line-height: 1.2;
    width: 240px
    }
.calibre12 {
    height: 220px;
    line-height: 1.2;
    width: 294px
    }
.calibre13 {
    float: left;
    height: 22px;
    line-height: 1.2;
    width: 256px
    }
.calibre14 {
    height: 217px;
    line-height: 1.2;
    width: 254px
    }
.calibre15 {
    height: 228px;
    line-height: 1.2;
    width: 283px
    }
.calibre16 {
    height: 203px;
    line-height: 1.2;
    width: 274px
    }
.calibre17 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre18 {
    font-size: 1.55em;
    line-height: 1.2
    }
.calibre19 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre20 {
    height: 222px;
    line-height: 1.2;
    width: 285px
    }
.calibre21 {
    color: #111;
    line-height: 1.2
    }
.calibre22 {
    height: 212px;
    line-height: 1.2;
    width: 244px
    }
.calibre23 {
    height: 207px;
    line-height: 1.2;
    width: 173px
    }
.calibre24 {
    height: 236px;
    line-height: 1.2;
    width: 184px
    }
.calibre25 {
    height: 228px;
    line-height: 1.2;
    width: 176px
    }
.calibre26 {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.msolistparagraph {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 17.65pt
    }
.msonormal {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 19.5pt 5.05pt 16.2pt
    }
.msonormal1 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 19.6pt 0.0001pt 16.2pt
    }
.msonormal2 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.3pt -0.25pt
    }
.msonormal3 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -17.6pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 17.6pt
    }
.msonormal4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0
    }
.msonormal5 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal6 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 0.5pt
    }
.msonormal7 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0
    }
.msonormal8 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.1in 0.25in
    }
.msonormal9 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.5in
    }
.msonormal10 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 0.25in
    }
.msonormal11 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.2in 0.5in
    }
.msonormal12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 8pt
    }
.msonormal13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.2in 0
    }
.msonormal14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 1.35pt 0
    }
.msonormal15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 1.35pt 0.5in
    }
.msonormal16 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.5in
    }
.msonormal17 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0.65pt 5.85pt 0.5in
    }
.msonormal18 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 8.85pt 0.5in
    }
.msonormal19 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    tab-stops: center 357.05pt;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.45pt
    }
.msonormal20 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 2.3pt 5.4pt
    }
.msonormal21 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -17.65pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 17.65pt
    }
.msonormal22 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -22.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 22.5pt
    }
.msonormal23 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 0
    }
.msonormal24 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 0
    }
.msonormal25 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.45pt 0.25in
    }
.msonormal26 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0.65pt 5.85pt 0.25in
    }
.msonormal27 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 9.25pt 0.25in
    }
.msonormal28 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 9.25pt 0
    }
.msonormal29 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 8pt
    }
.msonormal30 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.9pt 0.25in
    }
.msonormal31 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 18.05pt 0.25in
    }
.msonormal32 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.3pt 0.25in
    }
.msonormal33 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 18.5pt
    }
.msonormal34 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 45.2pt
    }
.msonormal35 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.45pt 45.2pt
    }
.msonormal36 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.45pt 0.5in
    }
.msonormal37 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 10.65pt 0.5in
    }
.msonormal38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 10.65pt 0.25in
    }
.msonormal39 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 0.25in
    }
.msonormal40 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 18.1pt
    }
.msonormal41 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -22.6pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 22.6pt
    }
.msonormal42 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0.65pt 5.85pt 18.5pt
    }
.msonormal43 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.15pt 0.25in
    }
.msonormal44 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7pt 0.25in
    }
.msonormal45 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 45.3pt
    }
.msonormal46 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 0.25in
    }
.msonormal47 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 8pt 0.25in
    }
.msonormal48 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 99.5pt
    }
.msonormal49 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -22.6pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.3pt 22.6pt
    }
.msonormal50 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 1.35pt 0.25in
    }
.msonormal51 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 54.2pt
    }
.msonormal52 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal53 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 8.75pt 0.25in
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:link {
    color: blue;
    text-decoration: underline
    }
.pcalibre1:visited {
    color: purple;
    text-decoration: underline
    }
