.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    color: #222;
    line-height: 1.2
    }
.calibre5 {
    color: #0070C0;
    line-height: 1.2
    }
.calibre6 {
    color: red;
    line-height: 1.2
    }
.msonormal {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 10pt 5.05pt 16.2pt
    }
.msonormal1 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 10.3pt 11.3pt 16.2pt
    }
.msonormal2 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.3pt 16.8pt
    }
.msonormal3 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 16.8pt
    }
.msonormal4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.6pt 5.65pt 34.35pt
    }
.msonormal5 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.55pt 12pt 34.35pt
    }
.msonormal6 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.75pt 5.65pt 34.35pt
    }
.msonormal7 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 34.45pt
    }
.msonormal8 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.75pt 5.65pt 61.35pt
    }
.msonormal9 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.6pt 5.65pt 61.35pt
    }
.msonormal10 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 5.05pt 16.3pt
    }
.msonormal11 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 16.3pt
    }
.msonormal12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 34.35pt
    }
.msonormal13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.2pt 7.3pt 61.35pt
    }
.msonormal14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.65pt 5.65pt 61.35pt
    }
.msonormal15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.15in 5.65pt 61.35pt
    }
.msonormal16 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.95pt 5.65pt 61.35pt
    }
.msonormal17 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 61.35pt
    }
.msonormal18 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11pt 5.65pt 61.35pt
    }
.msonormal19 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 5.05pt 34.35pt
    }
.msonormal20 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 34.35pt
    }
.msonormal21 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.1pt 5.65pt 61.35pt
    }
.msonormal22 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.85pt 5.65pt 61.35pt
    }
.msonormal23 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.7pt 5.65pt 61.35pt
    }
.msonormal24 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 61.35pt
    }
.msonormal25 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7.05pt 34.45pt
    }
.msonormal26 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0.65pt 5.85pt 61.85pt
    }
.msonormal27 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 61.35pt
    }
.msonormal28 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.65pt 5.65pt 34.35pt
    }
.msonormal29 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.2pt 5.65pt 61.35pt
    }
.msonormal30 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 70.35pt
    }
.msonormal31 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.5pt 5.65pt 61.35pt
    }
.msonormal32 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 61.85pt
    }
.msonormal33 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.15pt 5.65pt 61.35pt
    }
.msonormal34 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.25in;
    text-justify: inter-ideograph;
    margin: 0 11.3pt 1.25pt 34.3pt
    }
.msonormal35 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.15pt 16.8pt
    }
.msonormal36 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.05pt 5.65pt 61.35pt
    }
.msonormal37 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.15in 4.55pt 61.35pt
    }
.msonormal38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.7pt 5.65pt 61.7pt
    }
.msonormal39 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7pt 62.2pt
    }
.msonormal40 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 61.7pt
    }
.msonormal41 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.9pt 5.65pt 61.7pt
    }
.msonormal42 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.55pt 5.65pt 61.7pt
    }
.msonormal43 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11pt 5.65pt 61.7pt
    }
.msonormal44 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.3pt 16.8pt
    }
.msonormal45 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.45pt 34.35pt
    }
.msonormal46 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.7pt 5.65pt 34.35pt
    }
.msonormal47 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.65pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
