<template>
	<div class="bookmarks">
		<toolbar>
			<ul class="list">
				<li v-for="bookmark in bookmarks"
					@click="gotoLocation(bookmark)"
					class="ripple"
				>
					
					{{bookmark.chapterName}}
					
				</li>
			</ul>
		</toolbar>

	</div>
</template>

<style>
	.bookmarks{
		background-color:white;
		height:84vh;
	}
</style>


<script>

module.exports = {

	data:function(){
	
		return{
			id:'epubViewer',
			resizeCount:0,
			book:{}
		}
	},
	computed:{
	
		bookmarks:function(){
			return mb.store.bookmarks;
		}
	},
	methods:{
		gotoLocation:function(bookmark){
			const bookmarkLocation = bookmark.location;
				
			if(location){
				window.location.hash = '#/reader/' + bookmarkLocation;
			}
		}
	}


	
	
	
};


</script>