.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    font-size: 0.625em;
    line-height: 1.2
    }
.calibre6 {
    height: 349px;
    line-height: 1.2;
    width: 246px
    }
.calibre7 {
    height: 357px;
    line-height: 1.2;
    width: 253px
    }
.calibre8 {
    font-family: "Calibri", sans-serif;
    line-height: 1.2
    }
.calibre9 {
    height: 245px;
    line-height: 1.2;
    width: 578px
    }
.calibre10 {
    height: 245px;
    line-height: 1.2;
    width: 686px
    }
.calibre11 {
    height: 379px;
    line-height: 1.2;
    width: 751px
    }
.calibre12 {
    height: 241px;
    line-height: 1.2;
    width: 301px
    }
.calibre13 {
    height: 240px;
    line-height: 1.2;
    width: 312px
    }
.calibre14 {
    height: 184px;
    line-height: 1.2;
    width: 357px
    }
.calibre15 {
    height: 376px;
    line-height: 1.2;
    width: 594px
    }
.calibre16 {
    height: 210px;
    line-height: 1.2;
    width: 227px
    }
.calibre17 {
    height: 194px;
    line-height: 1.2;
    width: 210px
    }
.calibre18 {
    font-size: 0.83333em;
    line-height: 1.2
    }
.calibre19 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre20 {
    display: table-row;
    height: 11.2pt;
    vertical-align: inherit
    }
.calibre21 {
    background: gray;
    display: table-cell;
    height: 11.2pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre22 {
    background: gray;
    display: table-cell;
    height: 11.2pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre23 {
    background: gray;
    display: table-cell;
    height: 11.2pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre24 {
    display: table-row;
    height: 11.3pt;
    vertical-align: inherit
    }
.calibre25 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre26 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre27 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre28 {
    display: table-row;
    height: 11.4pt;
    vertical-align: inherit
    }
.calibre29 {
    display: table-cell;
    height: 11.4pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre30 {
    display: table-cell;
    height: 11.4pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre31 {
    display: table-cell;
    height: 11.4pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre32 {
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre33 {
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre34 {
    display: table-cell;
    height: 11.3pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre35 {
    display: table-row;
    height: 11.5pt;
    vertical-align: inherit
    }
.calibre36 {
    display: table-cell;
    height: 11.5pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre37 {
    display: table-cell;
    height: 11.5pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre38 {
    display: table-cell;
    height: 11.5pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre39 {
    display: table-row;
    height: 11.05pt;
    vertical-align: inherit
    }
.calibre40 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.05pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 178.05pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre41 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.05pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 1.35in;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre42 {
    background: #BFBFBF;
    display: table-cell;
    height: 11.05pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 197.9pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.6pt 5.75pt 0 5.35pt
    }
.calibre43 {
    height: 652px;
    line-height: 1.2;
    width: 606px
    }
.calibre44 {
    font-family: "Calibri", sans-serif;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre45 {
    display: block;
    border: black solid 1pt;
    padding: 0
    }
.calibre46 {
    color: #333;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    border: currentColor none medium;
    margin: 0 0 4pt;
    padding: 0
    }
.calibre47 {
    color: #333;
    line-height: 1.2
    }
.calibre48 {
    line-height: 1.2;
    border: currentColor none 1pt;
    padding: 0
    }
.calibre49 {
    font-family: "Times New Roman";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre50 {
    display: table-row;
    height: 14.15pt;
    vertical-align: inherit
    }
.calibre51 {
    display: table-cell;
    height: 14.15pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: black solid 1pt;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre52 {
    font-family: Wingdings;
    line-height: 1.2
    }
.calibre53 {
    font-family: "Arial", sans-serif;
    line-height: 1.2
    }
.calibre54 {
    display: table-cell;
    height: 14.15pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre55 {
    display: table-row;
    height: 16.5pt;
    vertical-align: inherit
    }
.calibre56 {
    display: table-cell;
    height: 16.5pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre57 {
    display: table-cell;
    height: 16.5pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre58 {
    display: table-row;
    height: 28pt;
    vertical-align: inherit
    }
.calibre59 {
    display: table-cell;
    height: 28pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre60 {
    display: table-cell;
    height: 28pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre61 {
    display: table-row;
    height: 27.95pt;
    vertical-align: inherit
    }
.calibre62 {
    display: table-cell;
    height: 27.95pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre63 {
    display: table-cell;
    height: 27.95pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre64 {
    display: table-row;
    height: 17.1pt;
    vertical-align: inherit
    }
.calibre65 {
    display: table-cell;
    height: 17.1pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre66 {
    display: table-cell;
    height: 17.1pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre67 {
    display: table-row;
    height: 15.9pt;
    vertical-align: inherit
    }
.calibre68 {
    display: table-cell;
    height: 15.9pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre69 {
    display: table-cell;
    height: 15.9pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre70 {
    display: table-row;
    height: 51.6pt;
    vertical-align: inherit
    }
.calibre71 {
    display: table-cell;
    height: 51.6pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre72 {
    display: table-cell;
    height: 51.6pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre73 {
    display: table-row;
    height: 17.05pt;
    vertical-align: inherit
    }
.calibre74 {
    display: table-cell;
    height: 17.05pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre75 {
    display: table-cell;
    height: 17.05pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre76 {
    display: table-row;
    height: 31.85pt;
    vertical-align: inherit
    }
.calibre77 {
    display: table-cell;
    height: 31.85pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 50.3pt;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre78 {
    font-family: Wingdings;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre79 {
    font-family: "Arial", sans-serif;
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre80 {
    display: table-cell;
    height: 31.85pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 449.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 7.4pt 0 0
    }
.calibre81 {
    height: 225px;
    line-height: 1.2;
    width: 602px
    }
.calibre82 {
    height: 393px;
    line-height: 1.2;
    width: 317px
    }
.calibre83 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.msonormal {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 25.3pt 5.05pt 16.2pt
    }
.msonormal1 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 25.4pt 0.0001pt 16.2pt
    }
.msonormal2 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.msonormal3 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.3pt -0.25pt
    }
.msonormal4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 0.5pt
    }
.msonormal5 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.3pt 12.1pt 0.25in
    }
.msonormal6 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 36.95pt 5.6pt 18.5pt
    }
.msonormal7 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    tab-stops: center 0.25in 45.4pt 1in 1.5in 2in 180.05pt 216.05pt 252.05pt 288.05pt 324.05pt 430.55pt;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 5.65pt
    }
.msonormal8 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 18.5pt
    }
.msonormal9 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.3pt 5.65pt 0.5in
    }
.msonormal10 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.5in
    }
.msonormal11 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.75pt 5.65pt 0.5in
    }
.msonormal12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 5.65pt 0.5in
    }
.msonormal13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.65pt 5.65pt 0.5in
    }
.msonormal14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.7pt 5.65pt 0.5in
    }
.msonormal15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.0001pt 0.5in
    }
.msonormal16 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.6pt 5.65pt 0.5in
    }
.msonormal17 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 27.9pt
    }
.msonormal18 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 5.65pt 0.5in
    }
.msonormal19 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 45pt
    }
.msonormal20 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.0001pt 5.9pt
    }
.msonormal21 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 8.45pt 5.4pt
    }
.msonormal22 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    tab-stops: center 232.25pt 375.65pt;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt
    }
.msonormal23 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 5.4pt
    }
.msonormal24 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.1pt 5.9pt
    }
.msonormal25 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 38.45pt 0.0001pt 5.4pt
    }
.msonormal26 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 41.55pt
    }
.msonormal27 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 11.2pt 4.65pt 0
    }
.msonormal28 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.5pt 5.65pt 0.5in
    }
.msonormal29 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.95pt 5.65pt 0.5in
    }
.msonormal30 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 10pt 5.65pt 0.5in
    }
.msonormal31 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.75in
    }
.msonormal32 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 6.55pt
    }
.msonormal33 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 5.9pt 0.0001pt 0
    }
.msonormal34 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 1.3pt 6.7pt
    }
.msonormal35 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 5.05pt 45pt
    }
.msonormal36 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.45pt 45.2pt
    }
.msonormal37 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 5.65pt 45.2pt
    }
.msonormal38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    tab-stops: center 231.3pt 375.55pt;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.45pt
    }
.msonormal39 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    tab-stops: center 296.15pt;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 7.85pt
    }
.msonormal40 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 23.2pt 1.85pt 0
    }
.msonormal41 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.9in
    }
.msonormal42 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 5.65pt 45.2pt
    }
.msonormal43 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.6pt 5.65pt 45.2pt
    }
.msonormal44 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.45pt 45.9pt
    }
.msonormal45 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.45pt 0.5in
    }
.msonormal46 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.4pt 5.65pt 0.5in
    }
.msonormal47 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.85pt 5.65pt 0.5in
    }
.msonormal48 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.9pt 0.5in
    }
.msonormal49 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.3pt 0.0001pt 0.5in
    }
.msonormal50 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.25in
    }
.msonormal51 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7pt 0.5in
    }
.msonormal52 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.8pt 5.65pt 0.5in
    }
.msonormal53 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.35pt 0.5pt
    }
.msonormal54 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.35pt 18.5pt
    }
.msonormal55 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.35pt 5.65pt 0.5in
    }
.msonormal56 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0.65pt 5.85pt 18.5pt
    }
.msonormal57 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -147.85pt;
    text-justify: inter-ideograph;
    margin: 0 9.7pt 5.65pt 165.85pt
    }
.msonormal58 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 29.9pt 0.55pt 0.5in
    }
.msonormal59 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 1.2pt 0.5in
    }
.msonormal60 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 11.85pt 0.5in
    }
.msonormal61 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal62 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.35pt 5.65pt 0.25in
    }
.msonormal63 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.4pt 5.65pt 0.25in
    }
.msonormal64 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.3pt 0.5pt
    }
.msonormal65 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 4.55pt 0.5in
    }
.msonormal66 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.8pt 5.65pt 0.25in
    }
.msonormal67 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 9.65pt 5.85pt 18.5pt
    }
.msonormal68 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.95pt 5.65pt 0.25in
    }
.msonormal69 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.65pt 5.65pt 0.25in
    }
.msonormal70 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 5.65pt 0.25in
    }
.msonormal71 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 0.25in
    }
.msonormal72 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.45pt 21.15pt
    }
.msonormal73 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.05pt
    }
.msonormal74 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.15pt
    }
.msonormal75 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 8pt
    }
.msonormal76 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 31.2pt
    }
.msonormal77 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.msonormal78 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.25pt
    }
.msonormal79 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.1pt 0.0001pt 0
    }
.msonormal80 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.1pt
    }
.msonormal81 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.3pt
    }
.msonormal82 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.35pt
    }
.msonormal83 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.45pt
    }
.msonormal84 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 33.7pt
    }
.msonormal85 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.2pt
    }
.msonormal86 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 28.65pt
    }
.msonormal87 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.25pt 0.0001pt 0
    }
.msonormal88 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.15pt 0.5pt
    }
.msonormal89 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.25pt 4.6pt 0.5in
    }
.msonormal90 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.45pt 0.5in
    }
.msonormal91 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.45pt 0.5in
    }
.msonormal92 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.75pt 4.55pt 0.5in
    }
.msonormal93 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.4pt 0.5in
    }
.msonormal94 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.65pt 0.5in
    }
.msonormal95 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.5in
    }
.msonormal96 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.6pt 3.45pt 0.5in
    }
.msonormal97 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 45.4pt
    }
.msonormal98 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 4.6pt 24.25pt
    }
.msonormal99 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 3.45pt 0.5in
    }
.msonormal100 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.8pt 3.35pt 0.5in
    }
.msonormal101 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 3.5pt 0.5in
    }
.msonormal102 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 29.5pt 0.55pt 0.5in
    }
.msonormal103 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 3.35pt 18.5pt
    }
.msonormal104 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 1.05pt 10.6pt
    }
.msonormal105 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 206.7pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 4.45pt;
    padding: 0
    }
.msonormal106 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 4.45pt 0.5pt;
    padding: 0
    }
.msonormal107 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 5.6pt 0.5pt;
    padding: 0
    }
.msonormal108 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 6.5pt 0.5pt;
    padding: 0
    }
.msonormal109 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 4.1pt 0.5pt;
    padding: 0
    }
.msonormal110 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.3pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 4.1pt 14.3pt;
    padding: 0
    }
.msonormal111 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.3pt;
    text-justify: inter-ideograph;
    border: currentColor none medium;
    margin: 0 0 7.55pt 14.3pt;
    padding: 0
    }
.msonormal112 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10.05pt 5.65pt 0.25in
    }
.msonormal113 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -30.1pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.65pt 48.1pt
    }
.msonormal114 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -30.1pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 48.1pt
    }
.msonormal115 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.5pt 0.45pt 0.5in
    }
.msonormal116 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 0.45pt 10.35pt
    }
.msonormal117 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 12.6pt
    }
.msonormal118 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.35pt
    }
.msonormal119 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.msonormal120 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 2.7pt 0.0001pt 0
    }
.msonormal121 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.2in
    }
.msonormal122 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 10pt 5.65pt 45.2pt
    }
.msonormal123 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 4.55pt 0.5in
    }
.msonormal124 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 4.5pt 0.5in
    }
.msonormal125 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 1.6pt 0.5in
    }
.msonormal126 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.55pt 0.5in
    }
.msonormal127 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.45pt 45.2pt
    }
.msonormal128 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7.05pt 0.25in
    }
.msonormal129 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.85pt 0.5in
    }
.msonormal130 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.7pt 0.5in
    }
.msonormal131 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 6.35pt 21.7pt
    }
.msonormal132 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7.45pt 45.9pt
    }
.msonormal133 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7.45pt 0.25in
    }
.msonormal134 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 5.75pt 5.65pt 0.5in
    }
.msonormal135 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 5.75pt 11.95pt 0.5in
    }
.msonormal136 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 5.75pt 5.3pt -0.25pt
    }
.msonormal137 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.9pt 0.0001pt 0.25in
    }
.msonormal138 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 5.75pt 5.65pt 0.25in
    }
.msonormal139 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -22.6pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 22.6pt
    }
.msonormal140 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 5.65pt 0.25in
    }
.msonormal141 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.45pt 0.0001pt 0.25in
    }
.msonormal142 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 5.65pt 0.25in
    }
.msonormal143 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 9.3pt 5.65pt 0.25in
    }
.msonormal144 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.65pt 0.45pt 0.5in
    }
.msonormal145 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.7pt 0.5in
    }
.msonormal146 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 9.55pt 3.8pt 0.5in
    }
.tablegrid {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 15.5pt;
    margin-top: 0;
    text-indent: 0;
    width: 473.2pt
    }
.tablegrid1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 4.55pt;
    margin-top: 0;
    text-indent: 0;
    width: 499.55pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:link {
    color: blue;
    text-decoration: underline
    }
.pcalibre1:visited {
    color: purple;
    text-decoration: underline
    }
