.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre7 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre8 {
    display: table-row;
    height: 55.35pt;
    vertical-align: inherit
    }
.calibre9 {
    display: table-cell;
    height: 55.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre10 {
    display: table-cell;
    height: 55.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre11 {
    display: table-cell;
    height: 55.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: black solid 1pt;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre12 {
    display: table-row;
    height: 13.55pt;
    vertical-align: inherit
    }
.calibre13 {
    display: table-cell;
    height: 13.55pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre14 {
    display: table-cell;
    height: 13.55pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre15 {
    display: table-cell;
    height: 13.55pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre16 {
    display: table-row;
    height: 18.25pt;
    vertical-align: inherit
    }
.calibre17 {
    display: table-cell;
    height: 18.25pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre18 {
    display: table-cell;
    height: 18.25pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre19 {
    display: table-cell;
    height: 18.25pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre20 {
    display: table-row;
    height: 27.35pt;
    vertical-align: inherit
    }
.calibre21 {
    display: table-cell;
    height: 27.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre22 {
    display: table-cell;
    height: 27.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre23 {
    display: table-cell;
    height: 27.35pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre24 {
    display: table-row;
    height: 75pt;
    vertical-align: inherit
    }
.calibre25 {
    display: table-cell;
    height: 75pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre26 {
    display: table-cell;
    height: 75pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre27 {
    display: table-cell;
    height: 75pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre28 {
    display: table-row;
    height: 53.9pt;
    vertical-align: inherit
    }
.calibre29 {
    display: table-cell;
    height: 53.9pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre30 {
    display: table-cell;
    height: 53.9pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre31 {
    display: table-cell;
    height: 53.9pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre32 {
    display: table-row;
    height: 0.45in;
    vertical-align: inherit
    }
.calibre33 {
    display: table-cell;
    height: 0.45in;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre34 {
    display: table-cell;
    height: 0.45in;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre35 {
    display: table-cell;
    height: 0.45in;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre36 {
    display: table-row;
    height: 17.15pt;
    vertical-align: inherit
    }
.calibre37 {
    display: table-cell;
    height: 17.15pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 30.95pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre38 {
    display: table-cell;
    height: 17.15pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 215.05pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre39 {
    display: table-cell;
    height: 17.15pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 233.2pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: currentColor none medium;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre40 {
    display: table-row;
    height: 279.65pt;
    vertical-align: inherit
    }
.calibre41 {
    display: table-cell;
    height: 279.65pt;
    text-align: inherit;
    vertical-align: inherit;
    width: 479.25pt;
    border-top: currentColor none medium;
    border-right: black solid 1pt;
    border-bottom: black solid 1pt;
    border-left: black solid 1pt;
    padding: 0.35pt 4.6pt 0 0.25pt
    }
.calibre42 {
    line-height: 1.2
    }
.calibre43 {
    font-family: "Times New Roman";
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre44 {
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2
    }
.calibre45 {
    display: block;
    line-height: 1.2
    }
.calibre46 {
    color: #333
    }
.calibre47 {
    color: #333;
    font-size: 1em;
    line-height: 1.2
    }
.msonormal {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 23pt 5.05pt 16.2pt
    }
.msonormal1 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 23.55pt 5.05pt 16.2pt
    }
.msonormal2 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.3pt 5.05pt
    }
.msonormal3 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 7.1pt 5.05pt
    }
.msonormal4 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.05pt 5.65pt 22.6pt
    }
.msonormal5 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 22.6pt
    }
.msonormal6 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 5.65pt 49.6pt
    }
.msonormal7 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 154%;
    text-align: justify;
    text-indent: 45pt;
    text-justify: inter-ideograph;
    margin: 0 27.1pt 0.0001pt 4.55pt
    }
.msonormal8 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 5.05pt
    }
.msonormal9 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 5.65pt 22.6pt
    }
.msonormal10 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 17.8pt 5.65pt 22.6pt
    }
.msonormal11 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 17.55pt 5.65pt 22.6pt
    }
.msonormal12 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 9.4pt
    }
.msonormal13 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 23.1pt
    }
.msonormal14 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.1pt 49.6pt
    }
.msonormal15 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 5.65pt 49.6pt
    }
.msonormal16 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 5.5pt 50.1pt
    }
.msonormal17 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.75pt 5.65pt 49.6pt
    }
.msonormal18 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.9pt 5.65pt 49.6pt
    }
.msonormal19 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.85pt 5.65pt 49.6pt
    }
.msonormal20 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.45pt
    }
.msonormal21 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.7pt 5.65pt 49.6pt
    }
.msonormal22 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.9pt 5.65pt 22.6pt
    }
.msonormal23 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.95pt 5.65pt 22.6pt
    }
.msonormal24 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12pt 5.65pt 22.6pt
    }
.msonormal25 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 12.35pt 3pt 50.1pt
    }
.msonormal26 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.95pt 5.65pt 49.6pt
    }
.msonormal27 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.2pt 5.65pt 49.6pt
    }
.msonormal28 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.8pt 49.6pt
    }
.msonormal29 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 9.6pt
    }
.msonormal30 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 50.1pt
    }
.msonormal31 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 5.45pt 5.65pt 49.6pt
    }
.msonormal32 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12pt 3pt 49.6pt
    }
.msonormal33 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12pt 5.65pt 49.6pt
    }
.msonormal34 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 49.6pt
    }
.msonormal35 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 7.15pt 49.6pt
    }
.msonormal36 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.45pt 49.6pt
    }
.msonormal37 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.35pt 5.65pt 49.6pt
    }
.msonormal38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.1pt 5.65pt 49.6pt
    }
.msonormal39 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 4.15pt 9.6pt
    }
.msonormal40 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.75pt 4.55pt 22.6pt
    }
.msonormal41 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.3pt 4.55pt 22.6pt
    }
.msonormal42 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.55pt 49.6pt
    }
.msonormal43 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 4.45pt 49.6pt
    }
.msonormal44 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.15pt 5.65pt 49.6pt
    }
.msonormal45 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.3pt 5.65pt 49.6pt
    }
.msonormal46 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.25pt 7pt 49.6pt
    }
.msonormal47 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.5pt 5.65pt 49.6pt
    }
.msonormal48 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.3pt 49.6pt
    }
.msonormal49 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.9pt 7.35pt 49.6pt
    }
.msonormal50 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.05pt 5.65pt 49.6pt
    }
.msonormal51 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.15pt 5.65pt 22.6pt
    }
.msonormal52 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.85pt 7.5pt 49.6pt
    }
.msonormal53 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.6pt 49.6pt
    }
.msonormal54 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 0.0001pt 22.6pt
    }
.msonormal55 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 0.9pt 22.6pt
    }
.msonormal56 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.1pt 5.65pt 22.6pt
    }
.msonormal57 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.25in;
    text-justify: inter-ideograph;
    margin: 0 11.8pt 5.65pt 4.55pt
    }
.msonormal58 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.7pt 49.6pt
    }
.msonormal59 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.45pt 49.6pt
    }
.msonormal60 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 7.35pt 49.6pt
    }
.msonormal61 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -27pt;
    text-justify: inter-ideograph;
    margin: 0 12.25pt 5.65pt 49.6pt
    }
.msonormal62 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.15pt 5.65pt 45.2pt
    }
.msonormal63 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.2pt 7.45pt 45.2pt
    }
.msonormal64 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 4.55pt
    }
.msonormal65 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 195.1pt 0.0001pt 16.2pt
    }
.msonormal66 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 9.4pt
    }
.msonormal67 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 14.5pt
    }
.msonormal68 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 9.3pt
    }
.msonormal69 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 9.65pt
    }
.msonormal70 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.msonormal71 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.05in
    }
.msonormal72 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 2.85pt
    }
.msonormal73 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 25.7pt 0.0001pt 0.05in
    }
.msonormal74 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 70.55pt 0.0001pt 4.55pt
    }
.msonormal75 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 26.5pt 0.0001pt 0.05in
    }
.msonormal76 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 136pt 0.0001pt 4.55pt
    }
.msonormal77 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 15.55pt 0.0001pt 0.05in
    }
.msonormal78 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 124.85pt 0.0001pt 4.55pt
    }
.msonormal79 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 3pt
    }
.msonormal80 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 0.5in
    }
.msonormal81 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.1pt 0.5in
    }
.msonormal82 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: right;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 185.45pt 5.5pt 0.5pt
    }
.msonormal83 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 12.25pt 5.65pt 4.55pt
    }
.msonormal84 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0.75pt 6.95pt 22.6pt
    }
.msonormal85 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 11.85pt 5.65pt 22.6pt
    }
.msonormal86 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 5.05pt 22.6pt
    }
.msonormal87 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 4.95pt 22.6pt
    }
.msonormal88 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 22.6pt
    }
.msonormal89 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: right;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 7.45pt 5.65pt 0.5pt
    }
.msonormal90 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.3pt 23.05pt
    }
.msonormal91 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 3.1pt 6.25pt 23.05pt
    }
.msonormal92 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: left;
    text-indent: -0.5pt;
    text-justify: inter-ideograph;
    margin: 0 14.75pt 5.35pt 23.05pt
    }
.msonormal93 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77419em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0.1pt;
    text-justify: inter-ideograph;
    margin: 0 0 5.65pt
    }
.tablegrid {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 37.8pt;
    margin-top: 0;
    text-indent: 0;
    width: 479.25pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.wordsection1 {
    display: block;
    page: WordSection2
    }
